:root {
    --primary: #00438b;
    --secondary:#ff8800;
}
body{
    background-color:white;
}
nav{
    background-color:var(--primary);
    padding:20px;
    color:white;
}
nav h1{
    position: relative;
    top:10px;
    font-size:3em;
    font-weight:normal;
}
nav button{
    position: relative;
    top:30px;
    margin-left:20px;
    width:30%;
    padding:0px;
    height:35px;
}
#signup{
    border:0px;
    background-color:var(--secondary);
}
#login{
    border:0px;
    background-color:transparent;
    border:1px solid white;
}
#addround{
    background-image: url('../img/roundtext.png');
    height:100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    transition-duration: 0.2s;
}
#addimage{
    background-image: url('../img/image.PNG');
    height:100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    transition-duration: 0.2s;
}
#addshape{
    background-image: url('../img/shape.PNG');
    height:100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    transition-duration: 0.2s;
}#addlinetext{
    background-image: url('../img/linetext.PNG');
    height:100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    transition-duration: 0.2s;
}
#addlinetext:hover{
    filter: brightness(0.9);
}
#addshape:hover{
    filter: brightness(0.9);
}
#addimage:hover{
    filter: brightness(0.9);
}
#addround:hover{
    filter: brightness(0.9);
}
#active{
    font-weight:bold;
}
.layer hr{
    margin-bottom:0px;
    background-color:var(--primary);
}
.layer{
    color:var(--primary);
}
.layer h6{
    font-size:14px;
}
.layer p{
    line-height:1px;
}
.layer span{
    color:red;
}
#panel{
    width: 140px;
height: 684px;  
filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.16));
background-color: #ffffff;
}
#layers{
    width: 140px;
height: 684px;
filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.16));
background-color: #f8f8f8;
}